In [3]:
# noinspection JupyterPackage
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

FileNotFoundError: [WinError 3] Системе не удается найти указанный путь: '../input'

In [4]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [5]:
len(data)

1890

# Предобработка датасета

In [6]:
def expand_field(df, key, fied, name, sep):

    expanded_df = pd.DataFrame({key:[],name:[]})
    i = 0
    for index, row in df.iterrows():
        values = row[fied].split(sep)
        for value in values:
            expanded_df.loc[i] = {key:row[key],name:value}
            i+=1

    return expanded_df

data['profit'] = data.apply(lambda row: row['revenue'] - row['budget'],axis=1)
data['release_date'] = pd.to_datetime(data.release_date)
data['release_month'] = data.release_date.apply(lambda x : x.month)
data['title_length'] = data.original_title.apply(lambda title : len(title))
data['title_words_count'] = data.original_title.apply(lambda title: len(title.split()))

In [7]:
data_genres = expand_field(data, 'imdb_id', 'genres', 'genre', '|')

In [8]:
data_cast = expand_field(data, 'imdb_id', 'cast', 'actor', '|')

In [9]:
data_production_companies = expand_field(data, 'imdb_id', 'production_companies', 'production_companie', '|')

In [10]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [11]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
print(data[data.budget == data.budget.max()].iloc[0]['original_title'])

answer_ls.append(4)

The Warrior's Way

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [12]:
print(data[data.runtime == data.runtime.max()].iloc[0]['original_title'])
answer_ls.append(2)

Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [13]:
print(data[data.runtime == data.runtime.min()].iloc[0]['original_title'])
answer_ls.append(3)

Winnie the Pooh

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [14]:
print(round(data.runtime.mean()))
answer_ls.append(2)

110.0

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [15]:
print(round(data.runtime.median()))
answer_ls.append(1)

106.0

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [16]:
print(data[data.profit == data.profit.max()].iloc[0]['original_title'])
answer_ls.append(5)

Avatar

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [17]:
print(data[data.profit == data.profit.min()].iloc[0]['original_title'])
answer_ls.append(2)

The Warrior's Way

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [18]:
print(data[data.profit > 0]['imdb_id'].count())
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [19]:
data_2008 = data[data.release_year == 2008]
print(data_2008[data_2008.profit == data_2008.profit.max()].iloc[0]['original_title'])
answer_ls.append(4)

The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [20]:
data_2012_2014 = data[(data.release_year >= 2012) & (data.release_year <=2014)]
print(data_2012_2014[data_2012_2014.profit == data_2012_2014.profit.min()].iloc[0]['original_title'])
answer_ls.append(5)

The Lone Ranger

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [21]:
print(data_genres.groupby('genre')['imdb_id'].count().sort_values(ascending=False).head(5))
answer_ls.append(3)

genre
Drama        782
Comedy       683
Thriller     597
Action       583
Adventure    416
Name: imdb_id, dtype: int64

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [22]:
data1 = data.merge(data_genres,'inner','imdb_id')
print(data1[data1.profit > 0].groupby('genre')['imdb_id'].count().sort_values(ascending=False).head(5))

answer_ls.append(1)

genre
Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
Name: imdb_id, dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [23]:
print(data.director.value_counts().sort_values(ascending=False).head(5))
answer_ls.append(3)

Steven Soderbergh    13
Clint Eastwood       12
Ridley Scott         12
Steven Spielberg     10
Shawn Levy           10
Name: director, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [24]:
print(data[data.profit > 0].director.value_counts().sort_values(ascending=False).head(5))
answer_ls.append(4)

Ridley Scott         12
Clint Eastwood       10
Steven Spielberg     10
Steven Soderbergh    10
Shawn Levy            9
Name: director, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [25]:
print(data.groupby('director')['profit'].sum().sort_values(ascending=False).head(5))

answer_ls.append(5)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
Name: profit, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [26]:
data1 = data.merge(data_cast,'inner','imdb_id')
print(data1.groupby('actor')['profit'].sum().sort_values(ascending=False).head(5))
answer_ls.append(1)

actor
Emma Watson          6666245597
Daniel Radcliffe     6514990281
Rupert Grint         6408638290
Ian McKellen         6087375777
Robert Downey Jr.    5316030161
Name: profit, dtype: int64

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [27]:
data1 = data.merge(data_cast,'inner','imdb_id')
print(data1[data1.release_year == 2012].groupby('actor')['profit'].sum().sort_values(ascending=True).head(5))
answer_ls.append(3)

actor
Kirsten Dunst    -68109207
Heidi Hawkins    -51893525
James Kidnie     -51893525
Timothy Spall    -51893525
Malin Ã…kerman   -43733509
Name: profit, dtype: int64

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [28]:
data1 = data[data.budget > data.budget.mean()]
data2 = data1.merge(data_cast,'inner','imdb_id')
print(data2.groupby('actor')['imdb_id'].count().sort_values(ascending = False).head(5))

answer_ls.append(3)

actor
Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Eddie Murphy      15
Tom Cruise        15
Name: imdb_id, dtype: int64

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [29]:
data1 = data[data.cast.str.contains('Nicolas Cage')]
print(data1.merge(data_genres,'inner','imdb_id').groupby('genre')['imdb_id'].count().sort_values(ascending=False).head(5))

answer_ls.append(2)

genre
Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
Name: imdb_id, dtype: int64

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [30]:
print(data.merge(data_production_companies,'inner','imdb_id').groupby('production_companie')['imdb_id'].count().sort_values(ascending=False).head(5))
answer_ls.append(1)

production_companie
Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
Name: imdb_id, dtype: int64

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [31]:
data1 = data[data.release_year == 2015]
print(data1.merge(data_production_companies,'inner','imdb_id').groupby('production_companie')['imdb_id'].count().sort_values(ascending=False).head(5))

answer_ls.append(4)

production_companie
Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Paramount Pictures                         7
Columbia Pictures                          7
Name: imdb_id, dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [32]:
data1 = data[data.genres.str.contains('Comedy')]
print(data1.merge(data_production_companies,'inner','imdb_id').groupby('production_companie')['imdb_id'].count().sort_values(ascending=False).head(5))

answer_ls.append(2)

production_companie
Universal Pictures                        75
Columbia Pictures                         62
Warner Bros.                              46
Walt Disney Pictures                      45
Twentieth Century Fox Film Corporation    44
Name: imdb_id, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [33]:
print(data[data.release_year == 2012].merge(data_production_companies,'inner','imdb_id').groupby('production_companie')['profit'].sum().sort_values(ascending=False).head(5))
answer_ls.append(3)

production_companie
Columbia Pictures     2501406608
Universal Pictures    1981011579
Marvel Studios        1299557910
Warner Bros.          1258020056
Relativity Media      1032593938
Name: profit, dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [34]:
print(data[data.production_companies.str.contains('Paramount Pictures')].groupby(['imdb_id','original_title'])['profit'].sum().sort_values(ascending=True).head(5))
answer_ls.append(1)

imdb_id    original_title
tt0267626  K-19: The Widowmaker   -64831034
tt0300556  Timeline               -60519261
tt0435705  Next                   -51788987
tt0375173  Alfie                  -46604061
tt0315297  Twisted                -24805000
Name: profit, dtype: int64

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [35]:
print(data.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(5))
answer_ls.append(5)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
Name: profit, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [36]:
print(data[data.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit'].sum().sort_values(ascending=False))
answer_ls.append(1)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [37]:
print(data.groupby('release_month')['imdb_id'].count().sort_values(ascending=False))
answer_ls.append(4)

release_month
9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [38]:
print(data[(data.release_month >= 6)&(data.release_month <= 8)]['imdb_id'].count())
answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [39]:
print(data.query('release_month in [12,1,2]').groupby('director')['imdb_id'].count().sort_values(ascending=False).head(5))
answer_ls.append(5)

director
Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Adam Shankman        4
Name: imdb_id, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [40]:
data1 = data.groupby(['release_year','release_month'])['profit'].sum().reset_index()
data2 = data1.groupby('release_year')['profit'].max().reset_index()
data3 = data2.merge(data1,'inner',['release_year','profit'])
print(data3.release_month.value_counts().sort_values(ascending=False))

answer_ls.append(2)

6     7
5     4
12    4
7     1
Name: release_month, dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [41]:
data1 = data.merge(data_production_companies,'inner','imdb_id')
print(data1.groupby('production_companie')['title_length'].mean().sort_values(ascending=False).head(5))
answer_ls.append(5)

production_companie
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Polsky Films                 46.0
Museum Canada Productions    46.0
Name: title_length, dtype: float64

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [42]:
data1 = data.merge(data_production_companies,'inner','imdb_id')
print(data1.groupby('production_companie')['title_words_count'].mean().sort_values(ascending=False).head(5))

answer_ls.append(5)

production_companie
Four By Two Productions    12.0
Jim Henson Company, The    10.0
Polsky Films                9.0
The Saul Zaentz Company     9.0
Dos Corazones               9.0
Name: title_words_count, dtype: float64

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [44]:
words = set()
serie1 = data.original_title.apply(lambda title: title.lower().split())
for current_words in serie1:
    for word in current_words:
        words.add(word)
print(len(words))
answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [ ]:
popularity1 = data.popularity.max()
popularity0 = popularity1 - popularity1 * 0.01
print(data[(data.popularity >= popularity0)&(data.popularity <= popularity1)].sort_values(by='popularity')['original_title'])

answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [45]:
d1 = data_cast.merge(data_cast,'inner','imdb_id')
d1 = d1[d1.actor_x != d1.actor_y]
print(d1.groupby(['actor_x','actor_y'])['imdb_id'].count().sort_values(ascending=False).head(5))
answer_ls.append(5)

actor_x           actor_y
Rupert Grint      Emma Watson         8
                  Daniel Radcliffe    8
Emma Watson       Rupert Grint        8
Daniel Radcliffe  Rupert Grint        8
                  Emma Watson         8
Name: imdb_id, dtype: int64

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [46]:
data1 = data.query('director in ["Quentin Tarantino","Steven Soderbergh","Robert Rodriguez","Christopher Nolan","Clint Eastwood"]')
data1 = data1.groupby('director')['imdb_id'].count().reset_index()
data1 = data1.rename(columns = {'imdb_id':'total_films_count'})
data['profitable'] = data.profit.apply(lambda profit: 1 if profit > 0 else 0)
data2 = data.groupby('director')['profitable'].sum().reset_index()
data2 = data2.rename(columns = {'profitable':'profitable_films_count'})
data3 = data1.merge(data2,'inner','director')
data3['success_rate'] = data3.apply(lambda row: round(row.profitable_films_count / row.total_films_count * 100,2),axis=1)

print(data3.sort_values(by=['success_rate','total_films_count'],ascending=False))
answer_ls.append(4)

            director  total_films_count  profitable_films_count  success_rate
0  Christopher Nolan                  8                       8        100.00
2  Quentin Tarantino                  5                       5        100.00
3   Robert Rodriguez                  7                       6         85.71
1     Clint Eastwood                 12                      10         83.33
4  Steven Soderbergh                 13                      10         76.92

# Submission

In [ ]:
len(answer_ls)

In [ ]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])